body {
  margin: 0;
  font-family: sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow: auto;
  height: stretch;
}

.section-title {
  margin: 0;
}

.clear-btn,
.paste-btn,
.split-btn {
  padding: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.input-section,
.split-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 50%;
}

#inputText,
#sentenceList {
  padding-top: 0;
  width: 100%;
  height: 100%;
  min-height: 180px;
  font-size: 16px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}