body {
  margin: 0;

  font-family: sans-serif;
}

.main-layout {
  display: grid;

  grid-template-rows:
    60px 1fr;

  height: 100vh;
}

.topbar {
  display: flex;
  align-items: center;

  padding: 0 20px;

  border-bottom:
    1px solid #ccc;
}

.main-content {
  display: flex;
  flex-direction: column;

  gap: 20px;

  padding: 20px;

  overflow: auto;
}

.section-title {
  margin: 0;
}

.paste-btn, .split-btn {
  padding: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.input-section,
.split-section {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

#inputText,
#sentenceList {
  padding-top: 0;
  width: 100%;
  min-height: 180px;
  font-size: 16px;
}

.section-header {
  display: flex;

  align-items: center;

  justify-content:
    space-between;
}

.action-section {
  display: flex;

  align-items: center;

  gap: 16px;
}
